.home-layout {
    width: 100%;
}

.first-layout {
    width: 78%;
}

.second-layout {
    width: 20%;
}

.width-control {
    width: 95%;
    margin: 0 auto;
}
.home-container{
    background-color: rgb(225, 225, 252);
}